@font-face {
    font-family: 'Friz Quadrata';
    src: url('FrizQua-ReguOS.woff2') format('woff2'),
        url('FrizQua-ReguOS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

